@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./images/pattern-background-desktop.svg');
    background-size: 170%;
    background-position: center; /* Center the pattern */
    color: var(--desaturated-blue);

}

h3 {
    font-size: 1.5rem;
    color: black;
}

a:hover {
    cursor: pointer;
    text-decoration: none;

}

button {
    background-color: var(--bright-blue);
    border: none;
    width: 90%;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.3rem;
    padding: 0.4rem;
    margin: 0.5rem;
}

button:hover {
    background-color: var(--desaturated-blue);
    border: none;
    width: 90%;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.3rem;
    padding: 0.4rem;
    margin: 0.5rem;
    cursor: pointer;
}

.card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
}

.card__header > img {
    width: 20rem;
    height: auto;
    border-radius: 0.5rem 0.5rem 0rem 0rem;

}

.card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.card__text {
    text-align: center;
    padding: 0.5rem 0.5rem;
    
}

.card__price {
    background-color: var(--very-pale-blue);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 1.5rem;
    padding: 1rem;    
}

.price-ico {
    flex: 1;
}
.price-text {
    flex: 4;
}

.price-text--bold {
    font-weight: 700;
    color: black;
}

.price-link {
    flex: 1;
    font-weight: 700;
}

.card__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.card__footer > a {
    text-decoration: none;
    font-weight:900;
}

.card__footer > a:hover {
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 375px) {
    .card {
        width: 15rem;
        font-size: 0.8rem;
        
    }
    
    .card__header > img {
        width: 15rem;
        height: auto;
    
    }

    .card__price {
        padding: 0.2rem;
        font-size: 0.7rem;
        gap: 0.5rem;
        align-items: center;
        
    }

    .price-ico {
        width: 0.5rem;
        height: auto;
    }

  
    .price-text {
        flex:2;
    }


    .price-link {
        flex: 1;
    }

}

